.App {
  align-items: center;
  min-height: calc(100vh - 8rem);
}
.Main{
  min-height: 100vh;
  background-color: #222633;
}
.chats{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: whitesmoke;
  max-height: 80vh;
  overflow-y: auto;
}
/* Changes to scrollbar in the chat */
.chats::-webkit-scrollbar, .input-textarea::-webkit-scrollbar {
  width: 8px;
  padding: 1rem;
}
.chats::-webkit-scrollbar-thumb, .input-textarea::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 6px;
}
.chats::-webkit-scrollbar-track, .input-textarea::-webkit-scrollbar-track {
  background-color: #222633;
}

.chatFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 0.5rem;
  width: 50%;
  display: flex;
  align-items: center;
  background-color: #1c1e3ae3;
  border-radius: 1rem;
}
.input-textarea{
  width: calc(100% - 2rem);
  outline: none;
  color: whitesmoke;
  overflow-y: auto;
  resize: none;
  min-height: 20px; /* Set a minimum height */
  max-height: 200px; /* Set a maximum height if needed */
  white-space: preline;
}
.input-textarea, .send{
  background: transparent;
  border: none;
  padding: 1.5rem;
  color: white;
}

.chat {
  padding: 1rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}
.bot {
  background: #1c1e3ae3;
  border-radius: 1rem;
}
.user {
  background: #353861e3;
  border-radius: 1rem;
}

.sidebar {
  width: 200px;
  background-color: #1c1e3ae3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.chatButtons {
  padding: 20px;
}

.chatButton {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  color: whitesmoke;
}

.chatButton.active {
  background-color: #353861e3;
}

.send {
  padding: 0.7rem 1rem;
  background-color: #353861e3;
  border-radius: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

.newSession {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  background-color: #353861e3;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.chat {
  margin-bottom: 15px;
}

.chat p {
  margin: 0;
}

.deleteButton {
  padding: 5px 10px;
  background-color: #ff3333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

.chatButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}